<% locals.Users.forEach(function(User) { %>

<p style="margin-right: 10px;"><span>نام و نام خانوادگی:</span><span><%- User.BachName %><%- " " %> <%- User.BachLname %></span></p>

<p style="margin-right: 10px;"><span>شماره دانشجویی:</span><span><%- User.BachId %></span></p>

<p style="margin-right: 10px;"><span>ایمیل:</span><span><%- User.email %></span></p>

<% User.Degs.forEach(function(Deg) { %>
    <p style="margin-right: 30px;">
    <span style="margin-right: 5px;">مدرک <%- Deg.DegreeRank %></span>
    <span style="margin-right: 5px;">رشته <%- Deg.DegreeBranch %></span>
    <span style="margin-right: 5px;">گرایش <%- Deg.RankOri %></span>
    <span style="margin-right: 5px;">سال <%- Deg.SalEtmam %></span>
    </p>
    <p style="margin-right: 30px;">
    <span style="margin-right: 5px;"><%- Deg.Description %></span>
    </p>
<% }); %>

<p style="margin-right: 10px;"><span>بیوگرافی:</span><br><span><%- User.Bio %></span></p>

<hr>

<% }); %>


<% if(locals.Users.length == 0) { %>
<p style="text-align: center;"><span>هیچ بیوگرافی شامل این مشخصات یا کلمه پیدا نشد!!!</span></p>
<% } %>