<p style="margin-right: 10px;"><span>نام و نام خانوادگی:</span><span><%- BachName %><%- " " %> <%- BachLname %></span></p>

<p style="margin-right: 10px;"><span>شماره دانشجویی:</span><span><%- BachId %></span></p>

<p style="margin-right: 10px;"><span>ایمیل:</span><span><%- email %></span></p>

<% locals.Degs.forEach(function(Deg) { %>
    <p style="margin-right: 30px;">
    <span style="margin-right: 5px;">مدرک <%- Deg.DegreeRank %></span>
    <span style="margin-right: 5px;">رشته <%- Deg.DegreeBranch %></span>
    <span style="margin-right: 5px;">گرایش <%- Deg.RankOri %></span>
    <span style="margin-right: 5px;">سال <%- Deg.SalEtmam %></span>
    </p>
    <p style="margin-right: 30px;">
    <span style="margin-right: 5px;"><%- Deg.Description %></span>
    </p>
<% }); %>

<p style="margin-right: 10px;"><span>بیوگرافی:</span><br><span><%- Bio %></span></p>

