<% locals.Users.forEach(function(User) { %>

<p style="margin-right: 10px;"><span>نام و نام خانوادگی:</span><span><%- User.BachName %><%- " " %> <%- User.BachLname %></span></p>

<p style="margin-right: 10px;"><span>شماره دانشجویی:</span><span><%- User.BachId %></span></p>

<p style="margin-right: 10px;"><span>ایمیل:</span><span><%- User.email %></span></p>

<% User.Degs.forEach(function(Deg) { %>
    <p style="margin-right: 30px;"><span>مقطع <%- Deg.DegreeName %></span><span> سال <%- Deg.SalEtmam %> <%- Deg.Description %></span></p>
<% }); %>

<p style="margin-right: 10px;"><span>بیوگرافی:</span><br><span><%- User.Bio %></span></p>

<hr>

<% }); %>


<% if(locals.Users.length == 0) { %>
<p style="text-align: center;"><span>هیچ بیوگرافی شامل این مشخصات یا کلمه پیدا نشد!!!</span></p>
<% } %>